body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(64, 2, 189, 0.97);
    margin: 0;
    padding: 0;
}


.top-footer{
    background-color: white;
    height: 40px;
}


h1{
    text-align: center;
    margin-top: 25px;
    color: white;
    font-size: 30px;
}


.links-navegacao {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.btn-nav {
    background: #0d54b8;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-nav:hover {
    background: #073b84;
}


.produtos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
    justify-items: center;
}

/* Card produtos */
.produto{
    background-color: white;
    padding: 15px;
    width: 170px;
    border-radius: 15px;
    text-align: center;
    transition: transform .2s ease;
}

.produto:hover{
    transform: scale(1.04);
}

.produto img{
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.produto:hover img{
    filter: grayscale(0%);
}

.btn {
    margin-top: 10px;
    padding: 8px 15px;
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.bottom-footer {
    background-color: white;
    height: 40px;
    margin-top: 20px;
}



form {
    background: white;
    padding: 20px;
    margin: 40px auto;
    width: 300px;
    border-radius: 12px;
    display: none;
    opacity: 0;
    transition: opacity .4s ease;
}

form.mostrar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 1;
}
